.App {

}

.Wrapper {
  margin: 0 auto;
  max-width: 1040px;
}

.Header {
  width: 100%;
  border-bottom: 1px solid black;
  background-color: #c3edea;

}

.Header_Wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1040px;
  padding: 15px 25px;
}

.Header_Nav a {
  color: black;
  font-weight: bold;
  margin: 0 10px;
  padding: 0 5px;
  text-decoration: none;

}

.Header_Nav a:last-of-type {
  margin-right: 0;
  padding-right: 0;
}

.Form {
  display: flex;
  flex-direction: column;
}

.Form label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 5px;
  opacity: 0.7;
  text-transform: uppercase;
}

.Form input {
  font-size: 16px;
  margin-bottom: 20px;
  padding: 8px 5px;
}

.Form buttom {
  font-size: 16px;
  padding: 10px 5px;
}

.CreateWrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.CreateWrapper > div, .CreateWrapper > form {
  flex-basis: 50%;
  width: 100%;
}

.CreateInformation {
  padding-left: 50px;
}

.LoginForm {
  max-width: 570px;
  margin: 0;
}
